html,
body {
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.hero-text {
  font-size: 64px;
}

.list {
  display: flex;
  font-size: 48px;
  justify-content: space-between;
  margin-top: 16px;
  width: 140px;
}

@media screen and (max-width: 414px) {
  .hero-text {
    font-size: 48px;
  }
}
