
body{
    background:#FFFFFF;
    width:960px;
    margin:20px auto;
}

#main {
    margin:0 auto;
    float:left;
    width:640px;
    padding:10px;
    background:#FFF;
}
/*
#contents {
    margin-left:380px;
    padding:10px;
}
*/

#topicsTitle{
    margin-left:360px;
    margin-right:320px;
    padding:20px;
    border:1px solid #f0f0f0;
    border-bottom:2px solid #ccc;
    border-radius:5px;
}

#topicsContents{
    margin-left:360px;
    margin-right:320px;
    padding:20px;
    border:1px solid #f0f0f0;
    border-bottom:2px solid #ccc;
    border-radius:5px;
}
.feeds{
    margin:360px;
}

.profile{
    margin:40px;
    height:120px;
    width:200px;
    position:relative;
    background:#e9e9e9;
    padding:40px;
}

.interested{
    margin:40px;
    height:120px;
    width:240px;
    position:relative;
    background:#e9e9e9;
    padding:40px;
    padding-left:20px;
}
.Like{
    margin:520px;
    margin-top:-320px;
    height:120px;
    width:380px;
    position:relative;
    background:#e9e9e9;
    padding:50px;
    padding-left:20px;
    padding-top:25px;
}


/*
.box:before{
    content: '';
    z-index: 1;
    position: absolute;
    border: 1px dashed #bbb;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    -moz-box-shadow: 0 0 0 1px #eee;
    -webkit-box-shadow: 0 0 0 1px #eee;
    box-shadow: 0 0 0 1px #eee;
}
*/

.title{
    margin-left:380px;
    padding:10px;
    font-size:2.5em;
    text-shadow:-1px -1px 1px rgba(0,0,0,0.4),1px 1px 1px rgba(255,255,255,0.5);
}

.about{
    margin-left:320px;
    padding:10px;
    font-size:2.5em;
    text-shadow:-1px -1px 1px rgba(0,0,0,0.4),1px 1px 1px rgba(255,255,255,0.5);
}



.subscription{
    margin-left:390px;
    padding:10px;
    font-size:small;
}

#sidebar{
    background:#A9A9A9;
    width:130px;
    height:200px;
    float:left;
    padding:5px 10px;
    position:fixed;
}

#footer{
    margin-left:460px;
    margin-top:-260px;

}
