body{
    /*font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
    width: 100%;
    text-align: center;
    width:700px;
    margin-right: auto;
    margin-left : auto;
    background-color: #fafafa;
}

dl p{
    font-size:120%;
}

.topBar{
    background-color: #FFFFFF;
}

.shopFont{
    font-size: 120%;
}
