div.tabBox {
    margin: 0px;
    padding: 0px;
    width: 400px;
}

.tabs {
    margin:0px;
    padding:0px;
}

.tabs a{
    display: block;
    width: 5em;
    float: left;
    margin: 0px 1px 0px 0px;
    padding: 3px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}

.tabs a.tab1{
    background-color: blue; color: white;
}

.tabs a.tab2{
    background-color: yellow; color: white;
}

.tabs a.tab3{
    background-color: red; color: white;
}

div.tab{
    height:150px;
    overflow: auto;
    clear: left;
}
#tab1{
    border 2px solid blue;
    background-color: #ccffff;
}

#tab2{
    border: 2px solid #aaaa00;
    background-color: #ffffcc;
}

#tab3{
    border: 2px solid red;
    background-color: #ffcccc;

}

div.tab p{
    margin: 0.5em;
}
